# URL del proyecto Supabase (Requerido)
# Ejemplo: https://[YOUR_PROJECT_ID].supabase.co
VITE_SUPABASE_URL=""

# Llave anónima pública de Supabase (Requerido)
# Ejemplo: eyJhbGciOiJIUzI1NiIsInR5...
VITE_SUPABASE_ANON_KEY=""
